<div class='bg-info'>
<ul>
<li>footer_area</li>
<li>footer_area</li>
<li>footer_area</li>
<li>footer_area</li>
<li>footer_area</li>
<li>footer_area</li>
<li>footer_area</li>
<li>footer_area</li>
</ul>
</div>
