<div class='bg-info'>
<ul>
<li>広告エリア</li>
<li>広告エリア</li>
<li>広告エリア</li>
<li>広告エリア</li>
<li>広告エリア</li>
<li>広告エリア</li>
</ul>
</div>

<div class='bg-success'>
<ul>
<li>ソート機能</li>
<li>ソート機能</li>
<li>ソート機能</li>
<li>ソート機能</li>
<li>ソート機能</li>
<li>ソート機能</li>
</ul>
</div>
