<div class='bg-info'>
<ul>
<li>広告エリア</li>
<li>広告エリア</li>
<li>広告エリア</li>
<li>広告エリア</li>
<li>広告エリア</li>
<li>広告エリア</li>
</ul>
</div>

.bg-success
  button.btn.btn-info 高さ順に並び変える
  button.btn.btn-danger スピード順に並び替える
  button.btn.btn-primary 全長順に並び替える
